<div class='container'>
<nav class="navbar" style="background-color: #4F5D75; color: white">
<h2>
<%= link_to 'All Restaurant', restaurants_path %>
</h2>
<br><%= link_to 'Add a new restaurant', new_restaurant_path %>
</nav>
